* {
    font-family: 'Montserrat', sans-serif;
}

.bg-light {
    background-color: transparent !important;
}

body {
    background: linear-gradient(45deg, snow, rgb(255, 255, 255), white);
}


/*navbar*/

.navbar-nav a {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #f51b5c;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}

.w-100 {
    height: 100vh;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
}

.carousel-caption h5 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-caption a {
    text-transform: uppercase;
    text-decoration: none;
    background: darkorange;
    padding: 10px 30px;
    display: inline-block;
    color: #000;
    margin-top: 15px;
}

.carousel-caption h5 {
    color: #f51b5c;
}

.carousel-caption p {
    color: rgb(255, 255, 255);
}

.carousel-caption #about {
    color: #000;
}

#about-title {
    color: #f51b5c;
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
    }
    .carousel-caption {
        bottom: 165px;
    }
    .carousel-caption h5 {
        font-size: 17px;
    }
    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }
}

.design {
    font-size: 80px;
    color: #f51b5c;
}


/*works*/

section h2 {
    text-align: center;
    margin-bottom: 5%;
    color: #000000;
    font-size: xx-large;
}

.container {
    display: flex;
    width: 90vw;
    border-radius: 25px;
}

.panel {
    background-size: auto 110%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    cursor: pointer;
    flex: 0.5;
    border-radius: 50px;
    color: #fff;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    -webkit-transition: all 700ms ease-in;
}

.panel h3 {
    position: absolute;
    bottom: 20px;
    font-size: 24px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}

.container a {
    margin-left: 75%;
    position: absolute;
    bottom: 20px;
    opacity: 0;
}

.container .active a {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}


/*pop-up*/

#myImg {
    border-radius: 51%;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 85px;
    right: 280px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #700101;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


/*contact*/

#contact {
    width: 1000px;
    height: fit-content;
    margin-top: 200px;
}


/*work gallery*/

.contain {
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px grey;
}

.contain:hover {
    opacity: 0.5;
}


/*social media*/

.social-media {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    height: 150px;
    width: 100%;
    margin-top: 10%;
}

.social-media h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #f1f1f1;
}

.social-media ul {
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline-block;
    margin-right: 10px;
}

.social-media li:last-child {
    margin-right: 0;
}

.social-media a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: #000000;
    transition: all 0.3s ease;
    box-shadow: 1px 2px 1px 2px rgb(0, 0, 0);
}

.social-media a:hover {
    transform: scale(1.1);
}
